/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

body {
    color: white;
    background-color: black;
    font-family: "Montserrat", serif
}

/*HEADER*/
.logo {
    width: 15%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.searchbar {
    margin-right: 70px;
}

.searchbar input {
  border-radius: 20px;
  padding: 5px 15px;
  max-width: 500px;
  margin: 0 auto;
  background-color: black;
  color: white;
  border: 2px solid grey;
}

.searchbar button {
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 5px 15px;
}

.searchbar i {
    font-size: 16px;
    color: white;
}

/* MAIN */









.movie-poster {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.flag-icon {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

ul li {
    margin-bottom: 20px;
}
